body {
    color: #000;
    font-size:12px;
    text-align:center;
    margin:0; padding:0;
    font-family: "微软雅黑";
}

/**登录页面背景图片--山峰*/
td.bg {
    text-align:center;
    background-image: url(/static/img/login/bglogon_1.gif);
    background-position: right bottom;
    background-repeat: no-repeat;
}



body.logon{
    background-image: url(/static/img/login/bglogon_2.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

/**登录页面背景图片--登录窗口*/
td.centerbg {
    background-image: url(/static/img/login/bglogon.gif);
    background-repeat: no-repeat;
    height:269px;
    padding-top:130px;
    padding-left:230px;
}

input.btn{width:59px;
    height:68px;}

.titleFont{
    font-family:"微软雅黑";
}

td.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #ffffff;
    text-align: center;
    height:20px;
    font-family:"微软雅黑";
}

td.top{
    font-size:9pt;
    color:#ffffff;
    height:20px;
    background-repeat: repeat-x;
    background-image: url(/static/img/login/bglogontop_2.gif);
    text-align:center;
}
/*控制页面不能上下移动*/
*{ margin:0;padding:0;}


/**输入域美化--可录入*/
.input_w{
    color:#4e4e4e;
    font-size:12px;
    /*padding:2px 0px 0px 2px;
    border: 1px solid #CCCCCC;*/
    border:none;
    height:34px;
    padding-left:5px;
    line-height:34px;
    background:url(/static/img/login/icon_02_11.png) no-repeat;
    font-family:"微软雅黑";
}

/**输入域美化--只读*/
.input_r{
    color:#333;
    background-repeat: repeat-x;
    padding:2px 0px 0px 2px;
    border: 0px solid #999;
    font-family:"微软雅黑";
}

/**输入域长度*/
.w_22{width:208px;}
.w_20{width:152px;}