<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.train.dao.BhDictionaryLineMapper" >
  <resultMap id="BaseResultMap" type="com.bh.train.model.BhDictionaryLine" >
    <id column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="header_code" property="headerCode" jdbcType="VARCHAR" />
    <result column="line_code" property="lineCode" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    line_id, header_code, line_code, sn, line_name, is_default, memo, enabled_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bh_dictionary_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bh_dictionary_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.train.model.BhDictionaryLine" >
    <selectKey resultType="java.lang.Integer" keyProperty="lineId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_dictionary_line (header_code, line_code, sn, 
      line_name, is_default, memo, 
      enabled_flag)
    values (#{headerCode,jdbcType=VARCHAR}, #{lineCode,jdbcType=VARCHAR}, #{sn,jdbcType=INTEGER}, 
      #{lineName,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{enabledFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.train.model.BhDictionaryLine" >
    <selectKey resultType="java.lang.Integer" keyProperty="lineId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_dictionary_line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="headerCode != null" >
        header_code,
      </if>
      <if test="lineCode != null" >
        line_code,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="enabledFlag != null" >
        enabled_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="headerCode != null" >
        #{headerCode,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null" >
        #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=INTEGER},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null" >
        #{enabledFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.train.model.BhDictionaryLine" >
    update bh_dictionary_line
    <set >
      <if test="headerCode != null" >
        header_code = #{headerCode,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null" >
        line_code = #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=INTEGER},
      </if>
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null" >
        enabled_flag = #{enabledFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.train.model.BhDictionaryLine" >
    update bh_dictionary_line
    set header_code = #{headerCode,jdbcType=VARCHAR},
      line_code = #{lineCode,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=INTEGER},
      line_name = #{lineName,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>

  <update id="deleteDictionaryLines" parameterType="java.util.Map">
    UPDATE bh_dictionary_line
    <set>
      <if test="flag != null and flag != ''">
        enabled_flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where header_code in
    <foreach collection="headerCodes" item="headerCodes" index="index" open="(" separator="," close=")">
      #{headerCodes}
    </foreach>
  </update>

  <select id="selectByHeaderCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from bh_dictionary_line
    where header_code = #{headerCode,jdbcType=VARCHAR}
    and enabled_flag = 'Y'
  </select>

  <select id="selectByLine" resultMap="BaseResultMap" parameterType="com.bh.train.model.BhDictionaryLine" >
    select
    <include refid="Base_Column_List" />
    from bh_dictionary_line
    where 1=1
    <if test="headerCode != null and headerCode != ''" >
      and header_code = #{headerCode,jdbcType=VARCHAR}
    </if>
    <if test="lineCode != null and lineCode != ''" >
      and line_code = #{lineCode,jdbcType=VARCHAR}
    </if>
    <if test="enabledFlag != null and enabledFlag != ''" >
      and enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="deleteDictionaryDetail" parameterType="java.util.List">
    UPDATE bh_dictionary_line
      <set>
        enabled_flag = 'N'
      </set>
    WHERE line_id IN
    <foreach collection="list" item="lineIdList" index="index" open="(" separator="," close=")">
      #{lineIdList}
    </foreach>
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from bh_dictionary_line
  </select>
</mapper>