<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.train.dao.BhPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.bh.train.model.BhPermission" >
    <id column="prmission_id" property="prmissionId" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="permission_sn" property="permissionSn" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="permission_type" property="permissionType" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    prmission_id, permission_name, permission_code, description, parent_id, permission_sn, 
    url, permission_type, memo, add_time, update_time, enabled_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bh_permission
    where prmission_id = #{prmissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bh_permission
    where prmission_id = #{prmissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.train.model.BhPermission" >
    <selectKey resultType="java.lang.Integer" keyProperty="prmissionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_permission (permission_name, permission_code, description, 
      parent_id, permission_sn, url, 
      permission_type, memo, add_time, 
      update_time, enabled_flag)
    values (#{permissionName,jdbcType=VARCHAR}, #{permissionCode,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{permissionSn,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{permissionType,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{enabledFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.train.model.BhPermission" >
    <selectKey resultType="java.lang.Integer" keyProperty="prmissionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionCode != null" >
        permission_code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="permissionSn != null" >
        permission_sn,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="permissionType != null" >
        permission_type,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="enabledFlag != null" >
        enabled_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null" >
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permissionSn != null" >
        #{permissionSn,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledFlag != null" >
        #{enabledFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.train.model.BhPermission" >
    update bh_permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null" >
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permissionSn != null" >
        permission_sn = #{permissionSn,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        permission_type = #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledFlag != null" >
        enabled_flag = #{enabledFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where prmission_id = #{prmissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.train.model.BhPermission" >
    update bh_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_code = #{permissionCode,jdbcType=VARCHAR},
      descriptPerion = #{description,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      permission_sn = #{permissionSn,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
    where prmission_id = #{prmissionId,jdbcType=INTEGER}
  </update>
  <!--查询权限以及绑定的角色-->
  <select id="selectPermissionRelevancyRole"
          parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT  p.*,r.role_name AS isBindRole FROM bh_permission p
    LEFT JOIN bh_role_permission  pr  ON p.prmission_id= pr.permission_id
    LEFT JOIN (SELECT *  FROM  bh_role WHERE role_id =#{roleId,jdbcType=INTEGER})r ON pr.role_id = r.role_id
  </select>
</mapper>